<header>
  <h1>SkillSwap</h1>
  <p>Exchange Your Skills and Knowledge</p>
  <button onclick="TeacherReg()">Become tutor</button>
</header>
<main>
  <section>
    <h2>Welcome to SkillSwap!</h2>
    <p>
      Learn new skills or teach others what you know. With SkillSwap, you can
      exchange your skills and knowledge with people from all around the world.
    </p>
  </section>
  <section>
    <h2>Get Started Today</h2>
    <p>
      Sign up or log in to start exploring all the skills available on
      SkillSwap.
    </p>
    <a class="button" (click)="onLoginClicked()">Log In</a>
    <a class="button" (click)="onSignUpClicked()">Sign Up</a>
  </section>
</main>
